<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profils - List your People</title>
    <meta name="description" content="Template for showcase your company employees">
    <meta name="keywords"
        content="Template, HTML Template, HTML5, CSS3, Profils">
    <link href='images/favicon.png' rel='shortcut icon' type='image/png' />
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="logo">
            <a href="#"><img src="images/List-People.png" alt="Profils" /></a>
        </div>

        <div class="list">
            <ul>
                <li>
                    <div class="lstlogo">
                        <img src="images/img01.jpg" alt="Aditya Shanahan" />
                    </div>
                    <div class="lstdetail">
                        <h1>Aditya Shanahan</h1>
                        <p>Lorem ipsum dolor sit amet consectetur</p>
                        <a href="#" target="_blank"><svg viewBox="0 0 24 24">
                                <path fill="#000000"
                                    d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" />
                            </svg></a>
                    </div>
                </li>

                <li>
                    <div class="lstlogo">
                        <img src="images/img02.jpg" alt="Alexane Collins" />
                    </div>
                    <div class="lstdetail">
                        <h1>Alexane Collins</h1>
                        <p>Lorem ipsum dolor sit amet adipisicing elit.</p>
                        <a href="#" target="_blank"><svg viewBox="0 0 24 24">
                                <path fill="#000000"
                                    d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" />
                            </svg></a>
                    </div>
                </li>


                <li>
                    <div class="lstlogo">
                        <img src="images/img03.jpg" alt="Destinee Erdman" />
                    </div>
                    <div class="lstdetail">
                        <h1>Destinee Erdman</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <a href="#" target="_blank"><svg viewBox="0 0 24 24">
                                <path fill="#000000"
                                    d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" />
                            </svg></a>
                    </div>
                </li>

                <li>
                    <div class="lstlogo">
                        <img src="images/img04.jpg" alt="Giovani Romaguera" />
                    </div>
                    <div class="lstdetail">
                        <h1>Giovani Romaguera</h1>
                        <p>Lorem ipsum dolor sit amet consectetur elit.</p>
                        <a href="#" target="_blank"><svg viewBox="0 0 24 24">
                                <path fill="#000000"
                                    d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" />
                            </svg></a>
                    </div>
                </li>

                <li>
                    <div class="lstlogo">
                        <img src="images/img05.jpg" alt="Jailyn Pagac" />
                    </div>
                    <div class="lstdetail">
                        <h1>Jailyn Pagac</h1>
                        <p>Lorem ipsum dolor sit amet consectetur</p>
                        <a href="#" target="_blank"><svg viewBox="0 0 24 24">
                                <path fill="#000000"
                                    d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" />
                            </svg></a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="contact">
            <div class="contactdet">
                <div class="icon">
                    <svg viewBox="0 0 24 24">
                        <path fill="#000000"
                            d="M4,3A1,1 0 0,0 3,4A17,17 0 0,0 20,21A1,1 0 0,0 21,20V16.5A1,1 0 0,0 20,15.5C18.75,15.5 17.55,15.3 16.43,14.93C16.08,14.82 15.69,14.9 15.41,15.17L13.21,17.37C10.38,15.93 8.06,13.62 6.62,10.78L8.82,8.57C9.1,8.31 9.18,7.92 9.07,7.57C8.7,6.45 8.5,5.25 8.5,4A1,1 0 0,0 7.5,3H4M15,3V4.5H18.5L13,10L14,11L19.5,5.5V9H21V3H15Z" />
                    </svg>
                </div>
                <h1>Phone</h1>
                <p>+91 1023 456 789</p>
            </div>

            <div class="contactdet">
                <div class="icon">
                    <svg viewBox="0 0 24 24">
                        <path fill="#000000"
                            d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
                    </svg>
                </div>
                <h1>Email</h1>
                <p>info@domainname.com</p>
            </div>

            <div class="contactdet">
                <div class="icon">
                    <svg viewBox="0 0 24 24">
                        <path fill="#000000"
                            d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z" />
                    </svg>
                </div>
                <h1>Location</h1>
                <p>Wall Street, GKS Area , G - 1989</p>
            </div>
        </div>

        <div class="copyright">
            <p>&copy;
                <script
                    type="text/javascript">var creditsyear = new Date(); document.write(creditsyear.getFullYear());</script>
                TeemBasket</p>
        </div>
    </div>
</body>

</html>